* {
    background: palevioletred;
    color: darkblue;
    /*text-align: center;*/
    font-family: fantasy;
}

a {
    /*font-family: "Bauhaus 93";*/
    color: darkolivegreen;
    text-decoration: none;
}

a:hover {
    color: #0cc;
}

input:focus {
    background-color: beige;
    width: 50%
}

input[type=radio]:focus {
    background-color: hotpink;
    width: 40%;
}

h1, h2 {
    color: beige;
    text-align: center;

}

h1 {
    font-size: 3em;
    font-family: Verdana, Georgia, sans-serif;
}
h2{
    font-family: Verdana, sans-serif;
    font-size: 1.5em;
}

button {
    height: 30%;
    background-color: indigo;
    color: darkgray;
}

button:focus {
    background-color: rgb(225, 225, 225);
    color: #0f0fff;
}
textarea{
    width: 20em;
    height: 8em;
    color: #0f0fff;
    border: solid beige 0.2em;
}
textarea[placeholder]{
    font-family: Georgia, sans-serif;
    font-size: 1rem;
    color: #0f0fff;
}

#age {
    background-color: darksalmon;
    color: black;
}

.wants:hover {
    text-decoration: wavy yellow underline;
}

div table {
    background-color: darkolivegreen;
    color: cornsilk;
}
form button {
    text-align: end;
}
