<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %>

    <main>
        <h2>Welcome to your dashboard</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad neque non, esse autem dolores nulla, et quia recusandae quo possimus quidem omnis quas magni pariatur suscipit aperiam consectetur consequuntur perferendis?</p>
    </main>

    <%- include('includes/footer.ejs') %>

</body>
</html>
