<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h2><a href="/">The App</a></h2>
        <nav>
            <a href="/Login">Log In</a>
        </nav>
    </header>

    <main>
        <h3>Login Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae maiores cupiditate dicta quam ratione minus, hic recusandae? Corporis commodi voluptates accusantium distinctio et, aperiam, cumque accusamus aut explicabo similique fugit.</p>
    </main>

    <footer>
        <small>&copy: This whole App</small>
    </footer>

</body>
</html>
